<header class="header">
  <div class="container">
    <div class="header__row">
      <a href="#" class="header__logo">
        <img src="../img/logo.svg" alt="" />
      </a>
      <nav class="header__menu">
        <ul class="header__list">
          <li><a href="#" class="header__link">Home</a></li>
          <li><a href="#" class="header__link">About us</a></li>
          <li><a href="#" class="header__link">Buying</a></li>
          <li><a href="#" class="header__link">Renting</a></li>
          <li><a href="#" class="header__link">Selling</a></li>
          <li><a href="#" class="header__link">Contact us</a></li>
        </ul>
      </nav>
      <div class="header__login">
        <a href="#" class="log">Login</a>
        <a href="#" class="button">Sing up</a>
      </div>
    </div>
    <div class="burger-menu">
      <a href="" class="burger-menu_button">
        <span class="burger-menu_lines"></span>
      </a>
      <nav class="burger-menu_nav">
        <a href="#" class="burger-menu_link">Why Qubit?</a>
        <a href="#" class="burger-menu_link">Products</a>
        <a href="#" class="burger-menu_link">Solutions</a>
        <a href="#" class="burger-menu_link">Customers</a>
        <a href="#" class="burger-menu_link">Case studies</a>
        <a href="#" class="burger-menu_link">Resources</a>
        <a href="#" class="burger-menu_link">More</a>
      </nav>
      <div class="burger-menu_overlay"></div>
    </div>
  </div>
</header>
