<div class="hero">
  <div class="container">
    <div class="hero__row">
      <div class="left">
        <div class="title text-68">
          <h2>Perfect way to buy and sell a home</h2>
        </div>
        <div class="subtitle text-18">
          <p>
            Diam vitae, nec mattis lectus quam pretium amet facilisis. Urna,
            massa aliqua dui pellentesque. Ac, gravida in eget non amet eget
            purus non.
          </p>
        </div>
        <div class="drop">
            <div class="dropdown">  
                <button onclick="myFunction()" class="dropbtn">Purpose</button>
                <h4>Buy</h4>
                <div id="myDropdown" class="dropdown-content">
                  <a href="#home">Home</a>
                  <a href="#about">About</a>
                  <a href="#contact">Contact</a>  
                </div>    
              </div>
              
              <div class="dropdown">    
                <button onclick="myFunction()" class="dropbtn">Location</button>
                <h4>Toronto, Canada</h4>
                <div id="myDropdown" class="dropdown-content">
                  <a href="#home">Home</a>
                  <a href="#about">About</a>
                  <a href="#contact">Contact</a>
                </div>
              </div>
              <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Type</button>
                <h4>Industrial home</h4>
                <div id="myDropdown" class="dropdown-content">
                  <a href="#home">Home</a>
                  <a href="#about">About</a>
                  <a href="#contact">Contact</a>
                </div>
              </div>
              <div class="search">
                <a href="#" class="button">search</a>
              </div>

        </div>

        </div>
        <div class="right">
          <img src="..//img/hero/right-img.jpg" alt="right">
        </div>
      </div>
      <div class="bottom">
      <div class="title text-48">
        <p>Featured In</p>
      </div>
      <div class="bottom__row">
        <a href="#">
          <img src="../img/hero/company/01.svg" alt="comp01">
        </a>
        <a href="#">
          <img src="../img/hero/company/02.svg" alt="comp02">
        </a>
        <a href="#">
          <img src="../img/hero/company/03.svg" alt="comp03">
        </a>
        <a href="#">
          <img src="../img/hero/company/04.svg" alt="comp04">
        </a>
        <a href="#">
          <img src="../img/hero/company/05.svg" alt="comp05">
        </a>
      </div>


      

      </div>
    </div>
    <div class="bg">
      <img src="../img/hero/bg.jpg" alt="bg">
    </div>
  </div>
</div>
