<div class="residence">
 <div class="container">
  <div class="title text-48">
   <p>Popular Residence</p>
  </div>
  <div class="residence-slider">
   <div class="owl-carousel owl-theme">
    <a href="#" class="item">
     <img src="../img/residence/01.jpg" alt="01" />
     <div class="character">
      <h4>Aliva Priva Jalvin</h4>
      <p>1087 Pin Oak Drive, Clinton, USA</p>
      <div class="other">
       <p><img src="../img/residence/other/01.svg" alt="beds" /> 4 beds</p>
       <p><img src="../img/residence/other/02.svg" alt="bath" />2 bath</p>
       <p><img src="../img/residence/other/03.svg" alt="Sqft" />1203 Sqft.</p>
      </div>
     </div>
    </a>
    <a href="#" class="item">
     <img src="../img/residence/01.jpg" alt="01" />
     <div class="character">
      <h4>Aliva Priva Jalvin</h4>
      <p>1087 Pin Oak Drive, Clinton, USA</p>
      <div class="other">
       <p><img src="../img/residence/other/01.svg" alt="beds" /> 4 beds</p>
       <p><img src="../img/residence/other/02.svg" alt="bath" />2 bath</p>
       <p><img src="../img/residence/other/03.svg" alt="Sqft" />1203 Sqft.</p>
      </div>
     </div>
    </a>
    <a href="#" class="item">
     <img src="../img/residence/01.jpg" alt="01" />
     <div class="character">
      <h4>Aliva Priva Jalvin</h4>
      <p>1087 Pin Oak Drive, Clinton, USA</p>
      <div class="other">
       <p><img src="../img/residence/other/01.svg" alt="beds" /> 4 beds</p>
       <p><img src="../img/residence/other/02.svg" alt="bath" />2 bath</p>
       <p><img src="../img/residence/other/03.svg" alt="Sqft" />1203 Sqft.</p>
      </div>
     </div>
    </a>
    <a href="#" class="item">
     <img src="../img/residence/01.jpg" alt="01" />
     <div class="character">
      <h4>Aliva Priva Jalvin</h4>
      <p>1087 Pin Oak Drive, Clinton, USA</p>
      <div class="other">
       <p><img src="../img/residence/other/01.svg" alt="beds" /> 4 beds</p>
       <p><img src="../img/residence/other/02.svg" alt="bath" />2 bath</p>
       <p><img src="../img/residence/other/03.svg" alt="Sqft" />1203 Sqft.</p>
      </div>
     </div>
    </a>
    <a href="#" class="item">
     <img src="../img/residence/01.jpg" alt="01" />
     <div class="character">
      <h4>Aliva Priva Jalvin</h4>
      <p>1087 Pin Oak Drive, Clinton, USA</p>
      <div class="other">
       <p><img src="../img/residence/other/01.svg" alt="beds" /> 4 beds</p>
       <p><img src="../img/residence/other/02.svg" alt="bath" />2 bath</p>
       <p><img src="../img/residence/other/03.svg" alt="Sqft" />1203 Sqft.</p>
      </div>
     </div>
    </a>
    <a href="#" class="item">
     <img src="../img/residence/01.jpg" alt="01" />
     <div class="character">
      <h4>Aliva Priva Jalvin</h4>
      <p>1087 Pin Oak Drive, Clinton, USA</p>
      <div class="other">
       <p><img src="../img/residence/other/01.svg" alt="beds" /> 4 beds</p>
       <p><img src="../img/residence/other/02.svg" alt="bath" />2 bath</p>
       <p><img src="../img/residence/other/03.svg" alt="Sqft" />1203 Sqft.</p>
      </div>
     </div>
    </a>
    <a href="#" class="item">
     <img src="../img/residence/01.jpg" alt="01" />
     <div class="character">
      <h4>Aliva Priva Jalvin</h4>
      <p>1087 Pin Oak Drive, Clinton, USA</p>
      <div class="other">
       <p><img src="../img/residence/other/01.svg" alt="beds" /> 4 beds</p>
       <p><img src="../img/residence/other/02.svg" alt="bath" />2 bath</p>
       <p><img src="../img/residence/other/03.svg" alt="Sqft" />1203 Sqft.</p>
      </div>
     </div>
    </a>
   </div>
  </div>
  <div class="view">
   <a href="#" class="button">View all properties</a>
  </div>
 </div>
</div>
