<div class="residence">
  <div class="container">
    <div class="title text-48">
      <p>Popular Residence</p>
    </div>
    <a class="residence-slider">
      <div class="owl-carousel owl-theme">
        <div class="item">
          <img src="../img/residence/01.jpg" alt="01" />
          <div class="character">
            <h4>Aliva Priva Jalvin</h4>
            <p>1087 Pin Oak Drive, Clinton, USA</p>
            <div class="other">
              <p>4 beds</p>
              <p>2 bath</p>
              <p>1203 Sqft.</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
